@media screen and (min-width: 320px) {
    html {
        font-size: 11px !important;
    }
}
@media screen and (min-width: 360px) {
    html {
        font-size: 10px !important;
    }
}
@media screen and (min-width: 375px) {
    html {
        font-size: 11px !important;
    }
}
@media screen and (min-width: 414px) {
    html {
        font-size: 12px !important;
    }
}